<!-- <app-parent>
    <app-child></app-child>
</app-parent> -->


<!-- <app-parent></app-parent> -->


<!-- <app-student [data]="varInput" ></app-student> -->


<!-- <app-student>
    <button>Save</button>
    <h1>Hello ajeet</h1>
    <p>I am Paragraph</p>
    <div>I am div</div>
    <p>{{title}}</p>
    <input type="text" />
</app-student> -->


<app-student>
    <button>Save</button>
    <h1>Hello ajeet</h1>
    <p id="pId" >I am Paragraph</p>
    <div header>I am div</div>
    <p  class="sahosoft" >{{title}}</p>
    <input type="text" />
</app-student>