<div style="text-align: center;">
  <h1>Welcome to Sahosoft Technologies</h1>

  <h2>Book Details with Subscribe Method</h2>
  <ul>
    <li *ngFor="let book of mybooks">
      ID : {{book.id}} | Name : {{book.name}} | Category:{{book.category}}
    </li>
  </ul>

  <h2>Book Details with Async pipe</h2> 
  <ul>
    <li *ngFor="let book of mybooks$ | async">
      ID : {{book.id}} | Name : {{book.name}} | Category:{{book.category}}
    </li>
  </ul> 
  

  <h2>Get book by id using subscribe Method</h2>

  <div *ngIf="mybook">
    ID : {{mybook.id}} | Name : {{mybook.name}} | Category:{{mybook.category}}
  </div>

  <h2>Get book by id using Async pipe</h2>

  <div *ngIf="mybook$ | async as book">
    ID : {{book[0].id}} | Name : {{book[0].name}} | Category:{{book[0].category}}
  </div>
 
</div>