<h2>Student Component</h2>
<!-- {{data}} -->

<!-- <ng-content></ng-content> -->


<!-- 
<ng-content select="h1" ></ng-content>
<ng-content select="p" ></ng-content>
<ng-content select="div" ></ng-content>
<ng-content></ng-content> -->

<!-- 

<ng-content select="h1" ></ng-content> -->
<!-- <ng-content select="input" ></ng-content> -->
<!-- <ng-content select="p" ></ng-content>
<ng-content select="div" ></ng-content>
<ng-content select="button" ></ng-content>
 -->


 

<!-- <ng-content select="p" ></ng-content> -->

<!-- <ng-content select="#pId" ></ng-content> -->


<!-- <ng-content select=".sahosoft" ></ng-content> -->

<ng-content select="[header]" ></ng-content>


